.poa__header {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4em;
  padding: 1rem;
}

.poa__header-container {
  padding-top: 120px;
  display: flex;
}

.poa__header-container_text {
  justify-content: center;
  align-self: center;
}

.poa__header-container_text h1 {
  font-size: 104px;
  font-weight: 300;
}

.poa__header-container_text h3 {
  font-size: 20px;
  font-weight: 400;
  margin-top: 16px;
  font-family: var(--font-family);
}

.poa__header-btn {
  margin-top: 24px;
  border: 0;
  background-color: var(--color-accent);
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 28px;
  padding-right: 28px;
  font-size: 20px;
  border-radius: 36px;
  cursor: pointer;
}

.poa__header_hero-img img {
  width: 600px;
}

/* Media Queries */

@media screen and (max-width: 350px) {
  
  .poa__header {
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
  }

  .poa__header-container {
    display: block;
  }

  .poa__header-container_text h1 {
    font-size: 60px;
  }

  .poa__header-container h3 {
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 20px;
  }

  .poa__header_hero-img img {
    width: 100%;
    height: auto;
    padding-top: 50px;
    margin-right: auto;
    margin-left: auto;
  }

  .poa__header-btn {
    margin-top: 0;
    padding: 1rem 24px;
    font-size: 16px;
  }

}

@media screen and (max-width: 650px) {
  .poa__header_hero-img img {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }

  .poa__header-container {
    display: block;
    padding: 0px !important;
  }


  .poa__header-container_text h1 {
    font-size: 64px;
  }
}

@media screen and (max-width: 850px) {

  .poa__header-container {
    padding-top: 2rem;
    padding-left: 0 !important;
  }

  .poa__header-container_text h1 {
    font-size: 60px;
  }

  .poa__header_hero-img img {
    width: 100%;
  }

  .poa__header-btn {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 18px;
  }
}

@media screen and (max-width: 1280px) {
  .poa__header-container {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .poa__header_hero-img img {
    width: 100%;
  }

  .poa__header-container_text h1 {
    font-size: 85px;
  }

  .poa__header-btn {
    padding: 1rem 1.5rem 1rem 1.5rem;
    font-size: 18px;
  }

}